*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    background-image: url(2.jpg);
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;
    background-repeat: repeat;
    background-size: cover;
}

div.navigation_bar
{
	font:bold 25px white Arial ,Times new roman white;
	height:28px;
	padding-bottom:14px;
	text-align:center;
    left: 50%;
   /* background: rgba(230,230,250,0.8);*/
    border: none;
    outline: none;
    padding: 10px 20px 
    cursor: pointer;
	
}


 ul
{
	list-style:none;
	padding:0;
	margin:0;
    font-size: 30px;
    background: rgba(0,0,0,0.4);
}
ul li
{

	display:inline-block;
	padding:10px;
	transition:all 0.3s ease 0s;
	
}
ul li a
{
	text-decoration:none;
	color:#fff;
	margin:20px;
    font-weight: blod;
}

 li a:hover
{
    color: rgba(220,20,60,0.8);
    font-size: 35px ;
}

a:active
{
	color:orange;
}


.form-container
{
    display: flex;
    height: 98vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-container .form-wrap
{
    background: rgba(240,128,128,0.6);
    width: 40%;
    padding: 15px 20px;
}

.form-container .form-wrap h1
{
    text-align: center;
    margin: 0px 0px 20px;
    font-size: 19px;
    top: 200%;
    left: 120%;
    padding: 15px ;
    font-style: italic;
    font-size: 25px;
}

.form-container .form-wrap .form-box input[type="text"]
{
    margin: 0px 0px 15px;
    padding: 5px 8px;
    border-radius: 15px;
    border: 1px solid rgba(240,128,128,0.6);
    width: 100%;
}

.form-container .form-wrap .form-submit
{
     display: flex;
    justify-content: center;
}
.form-container .form-wrap .form-submit button[type="submit"]
{
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
     background: transparent;
    background: rgb(220,20,60);
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

button
{
    float: right ;
    background: brown;
    color: white ;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: relative;
    padding: 7px;
    font-family: sans-serif;
    border: none;
    font-size: 16px;
}

.form-submit button
{
     background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background:  rgba(30,144,255,0.7);
    padding: 10px 20px ;
    cursor: pointer;
    border-radius: 10px ;
    
}
.form-submit button:hover
{
    background: rgba(65,105,225,0.7);
}
